mixin social-link(className='', name, link, icon, width, height)
  div(
    class=`social-link ${className}`
  )
    a.social-link__link(
      href= link
      target='_blank'
      rel='noreferrer'
    )
      span.visually-hidden= name
      svg.social-link__icon(
        width= width
        height= height
        aria-hidden='true'
        focusable='false'
      )
        use(xlink:href=`#${getFileNameWOExtention(icon)}`)

